@import url(../common.css);

section {
    width: 800px;
    border: 4px double #464748;
    margin: 0px auto;   
    
}

h1{
    border: 4px solid #000;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    font-family: "궁서체", cursive;
    background: lightslategray;
}
h2{
    font-size: 1.2rem;
    background: #000;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-bottom: 2px solid #ccc;
}

h2 span{
    color: yellow;
}

ul{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: gray;
    padding: 10px 0;
}

li{
    border: 1px solid white;
    padding: 5px;
    width: 24%;
    height: 16rem;
}

div{
    
    width: 100%;
    height: 45%;
    /* 사진이 넘치면 숨겨라 */
    overflow: hidden;
}

img{
    border: 1px solid white;
    width: 100%;           
}

p{  
    font-size: 16px;
    margin: 5px;
    text-align: justify;
}

.card-1{
    background: red;
}
.card-2{
    background: violet;    
}
.card-3{
    background: orange;   
}
.card-4{
    background: yellow;
}