@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");

*{
    box-sizing: border-box;
}

section{    
    text-align: left;
    width: 500px;    
    margin: 50px auto;
    background: rgb(223, 221, 221);    
    padding: 20px;
}
section .content {
    /* border: 1px solid #000; */
    font-weight: 900;
    text-shadow: 3px 3px 3px rgb(83, 80, 80);  
    color: white;
    padding: 12px 10px;
}

section .content:hover {
    background: rgb(120, 209, 223); 
    font-weight: 900;
    color: yellow;
    text-shadow: 3px 3px 3px gray;
}



